<div class="journey-panel">
    <div class="journey-header">
      <h1>
        Rock Gym
      </h1>
    </div>
    <div class="bottom-journey-panel">
      <div class="stars-review-panel">

        <div class="rating">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
      </div>
      <div class="most-recent-review-panel">
        <div class="review">
          <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
        </div>
        <div class="review">
          <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
        </div>
        <div class="review">
          <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
        </div>
        <div class="review">
          <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
        </div>
        <div class="review">
          <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
        </div>
        <div class="review">
          <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
        </div>
        <div class="review">
          <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
        </div>
        <div class="review">
          <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
        </div>
        <div class="review">
          <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
        </div>
        <div class="review">
          <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
        </div>
      </div>
    </div>
  </div>

  <div class="journey-panel">
      <div class="journey-header">
        <h1>
          Cornfields
        </h1>
      </div>
      <div class="bottom-journey-panel">
        <div class="stars-review-panel">
  
          <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
        <div class="most-recent-review-panel">
          <div class="review">
            <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
          </div>
          <div class="review">
            <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
          </div>
          <div class="review">
            <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
          </div>
          <div class="review">
            <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
          </div>
          <div class="review">
            <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
          </div>
          <div class="review">
            <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
          </div>
          <div class="review">
            <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
          </div>
          <div class="review">
            <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
          </div>
          <div class="review">
            <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
          </div>
          <div class="review">
            <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
          </div>
        </div>
      </div>
    </div>

    <div class="journey-panel">
        <div class="journey-header">
          <h1>
            A Day of Welding
          </h1>
        </div>
        <div class="bottom-journey-panel">
          <div class="stars-review-panel">
    
            <div class="rating">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
          </div>
          <div class="most-recent-review-panel">
            <div class="review">
              <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
            </div>
            <div class="review">
              <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
            </div>
            <div class="review">
              <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
            </div>
            <div class="review">
              <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
            </div>
            <div class="review">
              <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
            </div>
            <div class="review">
              <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
            </div>
            <div class="review">
              <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
            </div>
            <div class="review">
              <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
            </div>
            <div class="review">
              <span class="name">David Garry:</span> Thanks for sharing this. It works but when the selection seems to be working from the reverse side. e.g. if I select the fourth star it highlights the 4th and 5th in yellow instead of the 1st to 4th. How can I fix it?
            </div>
            <div class="review">
              <span class="name">Sean Li:</span> I used a slightly different variation of this rating system shown by another blog, but it's almost identical, especially the CSS. Pretty much prepend the ID, Name and For tags with a unique identifier, such as the row ID for the data assigned to the rating.
            </div>
          </div>
        </div>
      </div>