<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button> <!-- for new users -->
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            <input type="text" placeholder="username" [(ngModel)]="user_name" name="username"/>
            <input type="password" placeholder="password" [(ngModel)]="pass_word" name="password"/>
            <button routerLink="/">login</button> <!-- login -->
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>