<div class="navbar-holder">
    <nav class="navbar navbar-inverse fixed-top">
       <div class="container-fluid">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#"><img class="homeicon" src="../assets/embarc_icon.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                <li><a routerLink="journey1">Journeys</a></li>
                <li><a href="#">Class</a></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span><span id="si"> Sign Up</span></a></li>
                <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span><span id="li"> Login</span></a></li>
             </ul>
             <ul class="nav navbar-nav">
                <li><a routerLink="feedback">Feedback</a></li>
            </ul>
          </div>
       </div>
    </nav>
 </div>