<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="journey-panel">
    <div class="journey-header">
      <h1>
        Welcome!
      </h1>
    </div>
    <div class="bottom-journey-panel">
      <div class="most-recent-review-panel">
          <div class="container">
              <div class="row">
                <div class="col-md-3" *ngFor="let profile of profiles">
                  <md-card class="example-card">
                    <md-card-header>
                      <img md-card-avatar src={{profile.profileUrl}}/>
                      <md-card-title><a routerLink="profiles/{{profile.username}}">{{profile.name}}</a></md-card-title>
                      <md-card-subtitle>{{profile.bio}}</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image class="profilePic" src={{profile.imgUrl}}>
                    <md-card-content>
                      <h5>Career Aspirations:</h5>
                      <ul *ngFor="let goal of profile.goals">
                        <li>{{goal}}</li>
                      </ul>
                      <p>Age: {{profile.age}}</p>
                    </md-card-content>
                    <md-card-actions>
                      <button md-button><md-icon svgIcon="favorite"></md-icon></button>
                      <button md-button>Share</button>
                    </md-card-actions>
                  </md-card><br>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>